@import url('https://fonts.googleapis.com/css?family=Wallpoet&display=swap');
:root{
  --neon-purple: rgb(151, 28, 207);
  --light-purple: rgb(188, 88, 212);
  --white: rgb(255, 255, 255);
  --black: rgb(10, 3, 9);
  --neon-green: rgb(86, 221, 73);
  --light-green: rgb(159, 223, 152);
  --neon-blue: rgb(39, 146, 247);
  --light-blue: rgb(146, 230, 241);
  --alert-red: rgb(233, 33, 33);
  --alert-light-red: rgb(248, 80, 80);
}

*{
  font-family: 'Wallpoet', cursive;
  color: var(--neon-purple);
  background: var(--black);
  text-transform: uppercase;
}

body{
  background: var(--black);
}

.header{
  display: flex;
  top: 0;
  width:100%;
  flex-wrap: wrap;
  justify-content: center;
}

.header-div{
  background: none;
}

.header-logo{
  opacity: 1;
  font-size: 3em;
  font-weight: 200;
  font-style: italic;
  color: var(--white);
  background: none;
}

.with-light{
  text-shadow:
  -0.2rem -0.2rem 1rem var(--white),
  0.2rem 0.2rem 1rem var(--white),
  0 0 2rem var(--neon-purple),
  0 0 4rem var(--neon-purple),
  0 0 6rem var(--neon-purple),
  0 0 8rem var(--neon-purple),
  0 0 10rem var(--neon-purple);
}

.no-light{
  opacity: .2;
  animation: flicker-off 5s infinite alternate;  
}

hr{
  width: 100%;
  border-color: var(--neon-purple);
  border:none;
  border-bottom: 2px solid var(--white);
  box-shadow: 0 2px 2em var(--neon-purple);
}


.outter-box{
  width: 100%;
  padding: 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 2px solid var(--neon-purple);
  border-radius: 2px;
  box-shadow: 1px 1px 10px var(--light-purple);
}

.inner-box{
  padding-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 2px solid var(--neon-purple);
  border-radius: 2px;
  box-shadow: 1px 1px 10px var(--light-purple);
}

.item-box, .message-box, .soldout-item-box{
  margin-top: .65em;
  margin-bottom: .65em;
  position:relative; 
  height: 14em;
  border: .5px solid var(--white);
  border-radius: 2px;
}

.item-box, .soldout-item-box{
  width: 25em;
  height: 14em;
}

.item-box{
  box-shadow: 0 0 .6em  var(--white),
              0 0 .75em  var(--light-green),
              0 0 1em  var(--neon-green);
  
}

.soldout-item-box{
  box-shadow: 0 0 .6em  var(--white),
              0 0 .75em  var(--alert-light-red),
              0 0 1em  var(--alert-red);
}
.message-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  box-shadow: 0 0 .6em  var(--white),
              0 0 .75em  var(--light-purple),
              0 0 1em  var(--neon-purple);
}

.item-detail , .message-detail, .warning-detail{
  background: none;
  transition: color .25s;
  opacity: 0.9;
  color: var(--white);
}

.item-detail{
text-shadow:
              0 0 .1rem var(--neon-green),
              0 0 .3rem var(--neon-green),
              0 0 .4rem var(--neon-green),
              0 0 .5rem var(--neon-green);
}

.soldout-item-box .item-detail{
  text-shadow:
                0 0 .1rem var(--alert-red),
                0 0 .3rem var(--alert-red),
                0 0 .4rem var(--alert-red),
                0 0 .5rem var(--alert-red);
  }

.message-detail{
  color: var(--white);
  text-shadow:
            -0.2rem -0.2rem 1rem var(--white),
            0.2rem 0.2rem 1rem var(--white),
            0 0 2rem var(--neon-blue),
            0 0 4rem var(--neon-blue),
            0 0 6rem var(--neon-blue);
}

.item-message{
  font-size: 2.25em;
  margin-top: .25em;
  text-align: center;
}

.warning-detail{
  color: var(--white);
  text-shadow:
            -0.2rem -0.2rem 1rem var(--white),
            0.2rem 0.2rem 1rem var(--white),
            0 0 2rem var(--alert-red),
            0 0 4rem var(--alert-red),
            0 0 6rem var(--alert-red),
            0 0 8rem var(--alert-red),
            0 0 10rem var(--alert-red);
}

.item-selection-number{
  position: absolute;
  font-size: 1.25em;
  left: 0;
  margin-left: .25em; 
  font-weight: bold;
}

.item-name{
  font-size: 1.75em;
  margin-top: 2em;
  text-align: center;
  font-weight: bold;
}

.item-price{
  position: absolute;
  bottom: 1em;
  right: 0;
  font-size: 2em;
  font-weight: bold;
}

.item-quantity{
  position: absolute;
  font-size: 1.25em;
  bottom: 0;
  right: 0;
  margin-right: .25em;
}


.item-box:hover{
  text-decoration: none;
  box-shadow:
              0 0 1.2em  var(--white),
              0 0 1em  var(--light-green),
              0 0 .8em  var(--neon-green);
}

.item-box:hover .item-detail{
  text-shadow:
              /* -0.2rem -0.2rem 1rem var(--white),
              0.2rem 0.2rem 1rem var(--white), */
              0 0 .2rem var(--neon-green),
              0 0 .5rem var(--neon-green),
              0 0 1rem var(--neon-green),
              0 0 2rem var(--neon-green);
}

.item-box:active {
  box-shadow: 0 0 1.2em  var(--white),
              0 0 1.5em  var(--light-green),
              0 0 1.8em  var(--neon-green);
}

.item-box:active .item-detail{
  text-shadow:
              0.2rem 0.2rem 1rem var(--white),
              0 0 1rem var(--neon-green),
              0 0 2rem var(--neon-green),
              0 0 3rem var(--neon-green),
              0 0 4rem var(--neon-green);
}

.soldout-item-box:hover{
  text-decoration: none;
  box-shadow:
              0 0 1.2em  var(--white),
              0 0 1em  var(--alert-red),
              0 0 .8em  var(--alert-red);
}

.soldout-item-box:hover .item-detail{
  text-shadow:
              /* -0.2rem -0.2rem 1rem var(--white),
              0.2rem 0.2rem 1rem var(--white), */
              0 0 .2rem var(--alert-red),
              0 0 .5rem var(--alert-red),
              0 0 1rem var(--alert-red),
              0 0 2rem var(--alert-red);
}

.soldout-item-box:active {
  box-shadow: 0 0 1.2em  var(--white),
              0 0 1.5em  var(--alert-red),
              0 0 1.8em  var(--alert-red);
}

.soldout-item-box:active .item-detail{
  text-shadow:
              0.2rem 0.2rem 1rem var(--white),
              0 0 1rem var(--alert-red),
              0 0 2rem var(--alert-red),
              0 0 3rem var(--alert-red),
              0 0 4rem var(--alert-red);
}


.console-text{
  background: none;
  opacity: 1;
  margin: 0;
  color: var(--white);
  text-shadow:
  -0.2rem -0.2rem 1rem var(--white),
  0.2rem 0.2rem 1rem var(--white),
  0 0 2rem var(--neon-purple),
  0 0 4rem var(--neon-purple),
  0 0 6rem var(--neon-purple),
  0 0 8rem var(--neon-purple),
  0 0 10rem var(--neon-purple);
}

.activated-light{
  text-shadow:
  -0.2rem -0.2rem 1rem var(--white),
  0.2rem 0.2rem 1rem var(--white),
  0 0 2rem var(--neon-purple),
  0 0 4rem var(--neon-purple),
  0 0 6rem var(--neon-purple),
  0 0 8rem var(--neon-purple),
  0 0 10rem var(--neon-purple);
}
.deactivated-light{
  text-shadow: none;
  opacity: .2;
}
#vending-console{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%,100%));
}

#balance-text{
  position: absolute;
  top: 0;
  right: .25em;
}

#selection-id-text{
  position: absolute;
  left:0;
  top: 1.1em;
}

#selection-id-number{
  position: absolute;
  right: .25em;
  top: 1.1em;
}



/*```````````````````````````````````` BUTTON CSS``````````````````````````````````````````````````` */
.money-button, .console-button, .change{
  width: 50%;
  font-size: 2em;
  border: none;
  background: none;
  color: var(--white);
  text-shadow:
              0 0 .2rem var(--neon-purple),
              0 0 .5rem var(--neon-purple),
              0 0 1rem var(--neon-purple),
              0 0 2rem var(--neon-purple);
}

#selected-item, #error-message, #enjoy-message,
 #change-message,
 #total-quarters,
 #total-dimes,
 #total-nickels,
 #total-pennies{
  display: none;
}

.console-box{
  background: none;
  width: 100%;
  display: flex;
}

.button-box, .change-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.money-button:focus, .console-button:focus {
  outline: none;
}

.money-button.button-flicker{
  opacity: .6;
}


.money-button.button-flicker:hover{
  animation: none;
}


.money-button:hover, .console-button:hover{
  text-shadow:
              0 0 .2rem var(--neon-blue),
              0 0 .5rem var(--neon-blue),
              0 0 1rem var(--neon-blue),
              0 0 2rem var(--neon-blue);
}

.money-button:active, .console-button:active{
  text-shadow:
              0.2rem 0.2rem 1rem var(--white),
              0 0 1rem var(--neon-blue),
              0 0 2rem var(--neon-blue),
              0 0 3rem var(--neon-blue),
              0 0 4rem var(--neon-blue);
}

.money-button.button-flicker:active{
  animation: none;
  opacity: .8;
}


@media (min-width: 740px){
  .header-logo{
    font-size: 10rem;
  }
}

@media (max-width: 740px){
  .inner-box{
    width: 100%;
  }
  .item-box, .soldout-item-box{
    width: 100%;
    column-gap: 2rem;
  }
}

@media (min-width: 1200px){
  .item-box, .soldout-item-box{
    width: 30%;
  }
}


/* ``````````````````````````````````````````````````````````````````FLICKER EFFECTS */

.constant-flicker{
  animation: flicker 8s infinite alternate;   
}

.flicker-on{
  animation: flicker-on 5s;   
}

.button-flicker{
  animation: flicker-button 3s infinite alternate;   
}

@keyframes flicker {
  19%, 21%, 23%, 25%, 54%, 56%, 100% {   
      text-shadow:
          -0.2rem -0.2rem 1rem var(--white),
          0.2rem 0.2rem 1rem var(--white),
          0 0 2rem var(--neon-purple),
          0 0 4rem var(--neon-purple),
          0 0 6rem var(--neon-purple),
          0 0 8rem var(--neon-purple),
          0 0 10rem var(--neon-purple);        
  }
  0% {        
    text-shadow: none;
    opacity: .2;
  }    
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

@keyframes flicker-on {
  2%, 3%, 20%, 23%, 25%, 54%, 56%, 100%{
      text-shadow:
          -0.2rem -0.2rem 1rem var(--white),
          0.2rem 0.2rem 1rem var(--white),
          0 0 2rem var(--neon-purple),
          0 0 4rem var(--neon-purple),
          0 0 6rem var(--neon-purple),
          0 0 8rem var(--neon-purple),
          0 0 10rem var(--neon-purple);
       
  }  
  0%, 2%, 3%, 20%, 24%, 27%{        
      text-shadow: none;
      opacity: .2;
  }    
}

@keyframes flicker-off {   
  25%, 95%, 97%, 100%{
    text-shadow: none;
    opacity: .2;
  }
  0%, 26%, 96%, 98%{        
      text-shadow:
      -0.2rem -0.2rem 1rem var(--white),
      0.2rem 0.2rem 1rem var(--white),
      0 0 2rem var(--neon-purple),
      0 0 4rem var(--neon-purple),
      0 0 6rem var(--neon-purple),
      0 0 8rem var(--neon-purple),
      0 0 10rem var(--neon-purple);
      opacity: .7;
  }    
}

@keyframes flicker-button {
  19%, 21%, 23%, 25%, 54%, 56%, 100% {   
      text-shadow:
          0 0 .2rem var(--neon-purple),
          0 0 .5rem var(--neon-purple),
          0 0 1rem var(--neon-purple),
          0 0 2rem var(--neon-purple);       
  }
  0% {        
    text-shadow: none;
    opacity: .2;
  }    
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}